<ion-header>
  <ion-toolbar>
    <ion-title>Página de prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Ionic is a complete open-source SDK for hybrid mobile app development created by Max Lynch, Ben Sperry, 
    and Adam Bradley of Drifty Co. in 2013.[3] The original version was released in 2013 and built on 
    top of AngularJS and Apache Cordova. However, The latest release was re-built as a set of 
    Web Components, allowing the user to choose any user interface framework, such as Angular, React or
    Vue.js.
  </p>
  <p>
      It also allows the use of Ionic components with no user interface framework at all.[4] Ionic provides 
      tools and services for developing hybrid mobile, desktop, and Progressive Web Apps based on modern web
       development technologies and practices, using Web technologies like CSS, HTML5, and Sass. 
  </p>

  <ion-button href="/home" color="tertiary" size="large" expand="full">
    Ir a la página principal
  </ion-button>

</ion-content>
