<ion-header>
  <ion-toolbar>
    <ion-title>botones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Botones pequeños</h4>
  <ion-button size="small">Pequeñito</ion-button>

  <h4>Color</h4>
  <ion-button color="tertiary">Tertiary</ion-button>

  <h4>Color y pequeño</h4>
  <ion-button color="success" size="small">Pequeñito y colorido</ion-button>

  <h4>Color y que ocupe todo el ancho </h4>
  <ion-button color="secondary" expand="full">Siuuu</ion-button>

  <h4>Redondo</h4>
  <ion-button shape="round">Soy redondito</ion-button>

  <h4>Bordes</h4>
  <ion-button fill="outline">Tengo borde</ion-button>

  <h4>Icono</h4>
  <ion-button>
      <ion-icon slot="start" name="star"></ion-icon>
      Izquierda
  </ion-button>

    <ion-button>
        <ion-icon slot="end" name="star"></ion-icon>
        Derecha
    </ion-button>

    <p>Solo icono</p>
    <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>


</ion-content>
