<ion-header>
  <ion-toolbar>
    <ion-title>barra-de-progresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Default</h4>
<ion-progress-bar></ion-progress-bar>

<h4>Default con porcentaje 80%</h4>
<ion-progress-bar value="0.8"></ion-progress-bar>

<h4>Con colores</h4>
<ion-progress-bar color="warning" value="0.3"></ion-progress-bar>
<br>
<ion-progress-bar color="secondary" value="0.6"></ion-progress-bar>
<br>
<ion-progress-bar color="danger" value="0.9"></ion-progress-bar>

<h4>Otros tipos</h4>

<ion-progress-bar value="0.3" buffer="0.7"></ion-progress-bar>
<br>
<ion-progress-bar type="indeterminate"></ion-progress-bar>
<br>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

</ion-content>
