<ion-header>
  <ion-toolbar>
    <ion-title>iconos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h4>Iconos default</h4>

    <ion-icon name="add"></ion-icon>
    <ion-icon name="airplane"></ion-icon>
    <ion-icon name="basket"></ion-icon>
    <ion-icon name="baseball"></ion-icon>
    <ion-icon name="bluetooth"></ion-icon>
    <ion-icon name="bus"></ion-icon>

    <h4>Iconos grandes</h4>

    <ion-icon name="add" size="large"></ion-icon>
    <ion-icon name="airplane" size="large"></ion-icon>
    <ion-icon name="basket" size="large"></ion-icon>
    <ion-icon name="baseball" size="large"></ion-icon>
    <ion-icon name="bluetooth" size="large"></ion-icon>
    <ion-icon name="bus" size="large"></ion-icon>

    <h4>Iconos pequeños</h4>
    <ion-icon name="baseball" size="small"></ion-icon>
    <ion-icon name="bluetooth" size="small"></ion-icon>

    <ion-button src="https://ionicons.com/" size="large" expand="full">
      Más iconos
    </ion-button>

</ion-content>
