<ion-header>
  <ion-toolbar>
    <ion-title>item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Item -->
<ion-item>
    <ion-label>
      Item
    </ion-label>
  </ion-item>

    <ion-item detail>
        <ion-label>
          Item con flecha
        </ion-label>
      </ion-item>

  <h4>Lista</h4>
  <ion-list>
      <ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-label>
          No Lines Item
        </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label class="ion-text-wrap">
        Multiline text that should wrap when it is too long
        to fit on one line in the item.
        </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>H3 Primary Title</h3>
          </ion-text>
          <p>Paragraph line 1</p>
          <ion-text color="secondary">
            <p>Paragraph line 2 secondary</p>
          </ion-text>
        </ion-label>
      </ion-item>
    
      <ion-item lines="full">
        <ion-label>
          Item with Full Lines
        </ion-label>
      </ion-item>
    
    </ion-list>

</ion-content>
