<ion-header>
  <ion-toolbar>
    <ion-title>
      Página principal
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-button href="/botones" size="large" expand="full">
      Botones
    </ion-button>

    <br>

    <ion-button href="/iconos" size="large" expand="full">
      Iconos
    </ion-button>

    <br>

    <ion-button href="/entradas-de-texto" size="large" expand="full">
      Entrada de texto
    </ion-button>

    <br>

    <ion-button href="/scroll" size="large" expand="full">
      Scroll
    </ion-button>

    <br>

    <ion-button href="/item" size="large" expand="full">
      Item
    </ion-button>
    <br>

    <ion-button href="/barra-de-progresos" size="large" expand="full">
      Barra de progresos
    </ion-button>
  </div>
</ion-content>
